  #avatar-page,#canvas-Game {
  background-color: skyblue;
}

* {
  margin: 0;
  padding: 0;
}
/* Basic styles, change according to your style */

#start-page,
#lose-page,
#avatar-page,
#game-page,
#lose-page,
#win-page {
  height: 650px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 100px;
}

#lose-page,
#avatar-page,
#game-page,
#win-page {
  display: none;
}

/* Auxiliar classes */

.hidden {
  display: none;
}

.shown {
  display: flex;
}


/*BORDER AVATAR & BACKGROUND*/

#killer_Andrea,#killer_Sally,#killer_Andrea_image,#killer_Sally_image,
#background_1_image, #background_2_image, #background_3_image, #background_4_image, #background_5_image, #background_6_image, #background_7_image, #background_8_image,#background_1,#background_2,#background_3,#background_4,#background_5,#background_6,#background_7,#background_8{ 

  border-radius: 50px;
}

#killer_Andrea,#killer_Sally{
  margin: 0px 30px 50px 30px;
  height: 180px;
  border: 0px;
}

#killer_Andrea_image,#killer_Sally_image{
  height: 180px;
  width: 300px;
}

/* #killer_Andrea_image:hover,#killer_Sally_image:hover,#background_1_image:hover, #background_2_image:hover, #background_3_image:hover, #background_4_image:hover, #background_5_image:hover, #background_6_image:hover{
  border: 5px solid rgb(46, 95, 185);
} */

.active_border{
  border: 5px solid rgb(46, 95, 185);
}

.no_active_border{
  border:0px;
}

#background_1_image, #background_2_image, #background_3_image, #background_4_image, #background_5_image, #background_6_image,#background_7_image, #background_8_image{
  width: 250px;
  height: 100px;
  object-fit: cover;
}

#background_1,#background_2,#background_3,#background_4,#background_5,#background_6,#background_7,#background_8{
  margin: 0px 30px 30px 30px;
  width: 250px;
  height: 100px;
  border: 0px;
}

